<% let mark =92 %>
<% if (mark >= 90) { %>
    <h1>Grade: A</h1>
<% } else if (mark >= 80) { %>
    <h1>Grade: B</h1>
<% } else if (mark >= 70) { %>
    <h1>Grade: C</h1>
<% } else if (mark >= 60) { %>
    <h1>Grade: D</h1>
<% } else { %>
    <h1>Grade: F</h1>
<% } %>